config DAC_MCP4716
	bool "Microchip DAC driver"
	depends on I2C
	help
	  Enable the driver for the Microchip MCP4716.

config DAC_MCP4716_INIT_PRIORITY
	int "Init priority"
	depends on DAC_MCP4716
	default 80
	help
	  MCP4716 DAC device driver initialization priority.
