# Telescope Mirror Tester board configuration

# Copyright (c) 2020 Google LLC.
# SPDX-License-Identifier: Apache-2.0

config BOARD_TELESCOPE_MIRROR_TESTER
	bool "Telescope Mirror Tester"
	depends on SOC_PART_NUMBER_SAMD51J18A
