# Telescope Mirror Tester board configuration

# Copyright (c) 2020 Google LLC.
# SPDX-License-Identifier: Apache-2.0

config BOARD
	default "Telescope Mirror Tester"
	depends on BOARD_TELESCOPE_MIRROR_TESTER
