/*
 * Copyright (c) 2020 Google LLC.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <atmel/samd5xx18.dtsi>

/ {
	model = "Telescope Mirror Tester";
	compatible = "nunosousa, telescope_mirror_tester";

	chosen {
		zephyr,console = &sercom3;
		zephyr,shell-uart = &sercom3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

	pwm_motors {
		pwm_motor_1A: pwm_motor_1A {
			pwms = <&tcc0 0>;
		};

		pwm_motor_1B: pwm_motor_1B {
			pwms = <&tcc0 1>;
		};

		pwm_motor_2A: pwm_motor_2A {
			pwms = <&tcc0 3>;
		};

		pwm_motor_2B: pwm_motor_2B {
			pwms = <&tcc0 2>;
		};

		pwm_motor_3A: pwm_motor_3A {
			pwms = <&tcc0 4>;
		};

		pwm_motor_3B: pwm_motor_3B {
			pwms = <&tcc0 5>;
		};

		pwm_motor_4A: pwm_motor_4A {
			pwms = <&tcc3 1>;
		};

		pwm_motor_4B: pwm_motor_4B {
			pwms = <&tcc3 0>;
		};
	};

	dac_laser {
		laser_0: laser_0 {
			
		}
	}

};

&cpu0 {
	clock-frequency = <120000000>;
};

&sercom0 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;
};

&sercom5 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	dipo = <3>;
	dopo = <0>;

	#address-cells = <1>;
	#size-cells = <0>;
};

&tcc0 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	prescaler = <8>;

	#pwm-cells = <1>;
};

&tcc3 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	prescaler = <8>;

	#pwm-cells = <1>;
};

&porta {
	status = "okay";
	compatible = "atmel,sam0-gpio";
	gpio-controller;
	#gpio-cells = <2>;
};

&portb {
	status = "okay";
	compatible = "atmel,sam0-gpio";
	gpio-controller;
	#gpio-cells = <2>;
};

&usb0 {
	status = "okay";
};

&dmac {
	status = "okay";
};

&eic {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "uf2";
			reg = <0x00000000 DT_SIZE_K(16)>;
			read-only;
		};

		code_partition: partition@4000 {
			label = "code";
			reg = <0x4000 DT_SIZE_K(256-16-16)>;
			read-only;
		};

		/*
		 * The final 16 KiB is reserved for the application.
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@7c000 {
			label = "storage";
			reg = <0x7c000 DT_SIZE_K(16)>;
		};
	};
};
