/*
 * Copyright (c) 2020 Google LLC.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <atmel/samd5xx18.dtsi>

/ {
	model = "Telescope Mirror Tester";
	compatible = "atmel,samd51j18a";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
/*
	motor_dual_drive_1 {
		pwm_1: pwms {
			pwms = <&tcc0 0>, <&tcc0 1>, <&tcc0 3>, <&tcc0 2>;
			pwm-names = "A11", "A12", "B11", "B12";
		};
		pwm_sleep_1: sleep {
			gpios = <&porta 12 GPIO_ACTIVE_LOW>;
			label = "nSLEEP1";
		};
		pwm_fault_1: fault {
			gpios = <&porta 13 GPIO_ACTIVE_LOW>;
			label = "nFAULT1";
		};
	};

	motor_dual_drive_2 {
		pwm_2: pwms {
			pwms = <&tcc0 4>, <&tcc0 5>, <&tcc3 1>, <&tcc3 0>;
			pwm-names = "A21", "A22", "B21", "B22";
		};
		pwm_sleep_2: sleep {
			gpios = <&porta 15 GPIO_ACTIVE_LOW>;
			label = "nSLEEP2";
		};
		pwm_fault_2 {
			gpios = <&porta 14 GPIO_ACTIVE_LOW>;
			label = "nFAULT2";
		};
	};

	limit_switches {
		compatible = "gpio-keys";
		switch_x0: switch_x0 {
			gpios = <&porta 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW_X0";
		};
		switch_x1: switch_x1 {
			gpios = <&porta 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW_X1";
		};
		switch_y0: switch_y0 {
			gpios = <&porta 19 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW_Y0";
		};
		switch_y1: switch_y1 {
			gpios = <&porta 18 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW_Y1";
		};
		switch_z0: switch_z0 {
			gpios = <&porta 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW_Z0";
		};
		switch_z1: switch_z1 {
			gpios = <&porta 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW_Z1";
		};
	};
*/
};

&cpu0 {
	clock-frequency = <120000000>;
};

&sercom0 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	dipo = <0>;
	dopo = <1>;
	#address-cells = <1>;
	#size-cells = <0>;
/*
	cs-gpios = <&portb 6 GPIO_ACTIVE_LOW>, <&portb 7 GPIO_ACTIVE_LOW>;

	x_pos_sensor: pwm3360@0 {
		compatible = "pixart,pwm3360";
		reg = <0>;
		irq-gpios = <&porta 7 0>;
		spi-max-frequency = <2000000>;
		label = "PMW3360_1";
	};

	y_pos_sensor: pwm3360@1 {
		compatible = "pixart,pwm3360";
		reg = <1>;
		irq-gpios = <&porta 7 0>;
		spi-max-frequency = <2000000>;
		label = "PMW3360_2";
	};
*/
};

&sercom5 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	#address-cells = <1>;
	#size-cells = <0>;
/*
	laser_dac: mcp4716@63 {
		compatible = "";
		label = "MCP4716";
		reg = <0x63>;
	};
*/
};

&tcc0 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	prescaler = <8>;
	#pwm-cells = <1>;
};

&tcc3 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	prescaler = <8>;
	#pwm-cells = <1>;
};

&porta {
	status = "okay";
	compatible = "atmel,sam0-gpio";
	gpio-controller;
	#gpio-cells = <2>;
};

&portb {
	status = "okay";
	compatible = "atmel,sam0-gpio";
	gpio-controller;
	#gpio-cells = <2>;
};

&usb0 {
	status = "okay";
};

&dmac {
	status = "okay";
};

&eic {
	status = "okay";
};
