/*
 * Copyright (c) 2020 Google LLC.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <atmel/samd5xx18.dtsi>

/ {
	model = "Telescope Mirror Tester";
	compatible = "atmel,samd51j18a";

	chosen {
		zephyr,console = &sercom3;
		zephyr,shell-uart = &sercom3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	limit_switches {
		compatible = "gpio-keys";
		switch_positive_x: SW3_1 {
			gpios = <&porta 16 (GPIO_ACTIVE_LOW)>;
			label = "SW_PX";
		};
		switch_negative_x: SW3_3 {
			gpios = <&porta 17 (GPIO_ACTIVE_LOW)>;
			label = "SW_NX";
		};
		switch_positive_y: SW4_1 {
			gpios = <&porta 18 (GPIO_ACTIVE_LOW)>;
			label = "SW_PY";
		};
		switch_negative_y: SW4_3 {
			gpios = <&porta 19 (GPIO_ACTIVE_LOW)>;
			label = "SW_NY";
		};
		switch_positive_z: J11 {
			gpios = <&porta 20 (GPIO_ACTIVE_LOW)>;
			label = "SW_PZ";
		};
		switch_negative_z: J12 {
			gpios = <&porta 21 (GPIO_ACTIVE_LOW)>;
			label = "SW_NZ";
		};
	};

	power_monitor_flags {
		compatible = "gpio-keys";
		motor_drives_alert: OC_1 {
			gpios = <&portb 22 (GPIO_ACTIVE_LOW)>;
			label = "5V_MOTORS_PWR_ALERT";
		};
		laser_drive_alert: OC_2 {
			gpios = <&porta 27 (GPIO_ACTIVE_LOW)>;
			label = "5V_PWR_ALERT";
		};
	};

	power_switches {
		motor_power_switch: EN_1 {
			compatible = "regulator-fixed";
			enable-gpios = <&porta 3 (GPIO_ACTIVE_LOW)>;
			label = "5V_MOTORS_PWR_SWITCH";
			regulator-name = "5V_MOTORS_PWR_SWITCH";
		};
		digital_power_switch: EN_2 {
			compatible = "regulator-fixed-sync", "regulator-fixed";
			enable-gpios = <&porta 2 (GPIO_ACTIVE_LOW)>;
			label = "5V_PWR_SWITCH";
			regulator-name = "5V_PWR_SWITCH";
			regulator-boot-on;
			startup-delay-us = <10000>;
		};
	};

	motor_drive_1_pwm {
		compatible = "pwm-leds";
		pwm1x_pos: pwms_a11 {
			pwms = <&tcc0 0>;
			label = "PWM_1_A11";
		};
		pwm1x_neg: pwms_a12 {
			pwms = <&tcc0 1>;
			label = "PWM_1_A12";
		};
		pwm1y_pos: pwms_b11 {
			pwms = <&tcc0 3>;
			label = "PWM_1_B11";
		};
		pwm1y_neg: pwms_b12 {
			pwms = <&tcc0 2>;
			label = "PWM_1_B12";
		};
	};

	motor_drive_1_control {
		compatible = "gpio-keys";
		pwm_sleep_1: sleep_pwm1 {
			gpios = <&porta 12 GPIO_ACTIVE_LOW>;
			label = "nSLEEP1";
		};
		pwm_fault_1: fault_pwm1 {
			gpios = <&porta 13 GPIO_ACTIVE_LOW>;
			label = "nFAULT1";
		};
	};

	motor_drive_2_pwm {
		compatible = "pwm-leds";
		pwm2z_pos: pwms_a21 {
			pwms = <&tcc0 4>;
			label = "PWM_2_A21";
		};
		pwm2z_neg: pwms_a22 {
			pwms = <&tcc0 5>;
			label = "PWM_2_A22";
		};
		pwm2t_pos: pwms_b21 {
			pwms = <&tcc3 1>;
			label = "PWM_2_B21";
		};
		pwm2t_neg: pwms_b22 {
			pwms = <&tcc3 0>;
			label = "PWM_2_B22";
		};
	};
	
	motor_drive_2_control {
		compatible = "gpio-keys";
		pwm_sleep_2: sleep_pwm2 {
			gpios = <&portb 15 GPIO_ACTIVE_LOW>;
			label = "nSLEEP2";
		};
		pwm_fault_2: fault_pwm2 {
			gpios = <&portb 14 GPIO_ACTIVE_LOW>;
			label = "nFAULT2";
		};
	};
};

&cpu0 {
	clock-frequency = <120000000>;
};

&sercom0 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	dipo = <2>;
	dopo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	cs-gpios = <&portb 6 GPIO_ACTIVE_LOW>, <&portb 7 GPIO_ACTIVE_LOW>;

	x_pos_sensor: pwm3360@0 {
		vin-supply = <&digital_power_switch>;
		compatible = "pixart,pwm3360";
		reg = <0>;
		irq-gpios = <&porta 7 0>;
		spi-max-frequency = <2000000>;
		label = "PMW3360_X";
	};

	y_pos_sensor: pwm3360@1 {
		vin-supply = <&digital_power_switch>;
		compatible = "pixart,pwm3360";
		reg = <1>;
		irq-gpios = <&porta 7 0>;
		spi-max-frequency = <2000000>;
		label = "PMW3360_Y";
	};
};

&sercom5 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	clock-frequency = <I2C_BITRATE_FAST>;
	#address-cells = <1>;
	#size-cells = <0>;

	laser_dac: mcp4716@63 {
		vin-supply = <&digital_power_switch>;
		status = "okay";
		compatible = "microchip,mcp4716";
		label = "MCP4716";
		reg = <0x63>;
		#io-channel-cells = <1>;
	};
};

&tcc0 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	prescaler = <8>;
	#pwm-cells = <1>;
};

&tcc3 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	prescaler = <8>;
	#pwm-cells = <1>;
};

&porta {
	status = "okay";
	compatible = "atmel,sam0-gpio";
	gpio-controller;
	#gpio-cells = <2>;
};

&portb {
	status = "okay";
	compatible = "atmel,sam0-gpio";
	gpio-controller;
	#gpio-cells = <2>;
};

&usb0 {
	status = "okay";
};

&dmac {
	status = "okay";
};

&eic {
	status = "okay";
};
